<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>18/10/08 12:24:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageObjectTest.setUp()[pri:0, instance:cba.selenium.pageobject.tests.PageObjectTest@20e2cbe0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/10/08 12:24:35</td>   <td>9512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PageObjectTest.testLogin(java.lang.String, java.lang.String)[pri:0, instance:cba.selenium.pageobject.tests.PageObjectTest@20e2cbe0]">testLogin</td> 
  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/10/08 12:24:39</td>   <td>13928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageObjectTest.tearDown()[pri:0, instance:cba.selenium.pageobject.tests.PageObjectTest@20e2cbe0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
</table>
